*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #333;
  color: aliceblue;
}

.container{
  max-width: 1180px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container >*{
  margin-bottom: 20px;
}

button{
  display: inline-block;
  font-size: 1rem;
  border: violet 2px solid;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: violet 0px 0px 0px;
  cursor: pointer;
  transition: box-shadow .3s ease;
}

button:hover{
  box-shadow: violet 0px 0px 10px;
}

button:focus{
  outline: none;
}

img{
  width: 600px;
}
